@font-face {
  font-family: 'Typ1451';
  src: url('fonts/lineto-typ1451-regular.eot');
  src: url('fonts/lineto-typ1451-regulard41d.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-typ1451-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Typ1451';
  src: url('fonts/lineto-typ1451-bold.eot');
  src: url('fonts/lineto-typ1451-boldd41d.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-typ1451-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FF Bau';
  src: url('fonts/BauWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
