@font-face {
    font-family: 'pica10_btroman';
    src: url('fonts/pica-10-pitch-bt_35620-webfont.eot');
    src: url('fonts/pica-10-pitch-bt_35620-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pica-10-pitch-bt_35620-webfont.woff2') format('woff2'),
         url('fonts/pica-10-pitch-bt_35620-webfont.woff') format('woff'),
         url('fonts/pica-10-pitch-bt_35620-webfont.ttf') format('truetype'),
         url('fonts/pica-10-pitch-bt_35620-webfont.svg#pica10_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
