$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.4,
  'spread': 'narrow',
  'container-spread': 'narrow',
);

$s: max-width 767px;
$m-down: max-width 1023px;
$m: 768px 1023px;
$m-up: min-width 768px;
$l-down: max-width 1399px;
$l: 1024px 1399px;
$l-up: min-width 1024px;
$xl: min-width 1400px;

$main-color: #000;
$main-bg: #fff;
$accent: #ed1c24;

::selection {
  background: $accent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

html {
  font-size: 16px;

  @include breakpoint($m-up) {
    font-size: 1.667vw;
  }

  @include breakpoint($xl) {
    font-size: 1.4vw;
  }
}

body {
  background: $main-bg;
  color: $main-color;
  font-family: 'pica10_btroman', 'Courier New', monospace;
  font-size: 1rem;
  line-height: 1.4em;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;

  .arabic-text {
    font-size: 87%;
    font-family: 'Kawkab Mono', 'Courier New', monospace;
    direction: rtl;

    h1, h2, .page-title {
      font-family: 'ASV Codar', sans-serif !important;
    }
  }
}

strong, b {
  text-transform: uppercase;
}

em,
i {
  font-style: italic;
}

img,
audio,
video,
iframe {
  max-width: 100%;
  height: auto;
}

iframe {
  height: 60vh !important;
}

a {
  color: $main-color;
  //background-image: linear-gradient(to bottom, $main-color 50%, $main-color 50%);
  //background-repeat: repeat-x;
  //background-size: .05em .05em;
  //background-position: 0 1.05em;
  text-decoration: underline;

  &:hover {
    color: $accent;
    //background-image: linear-gradient(to bottom, $accent 50%, $accent 50%);
  }

  &.home-link {
    text-decoration: none;
  }
}

.flipper {
  .front-content,
  .back-content {
    width: 100%;
  }
}

.logo {
  width: 100vw;
  height: 100vh;
  background-position: center 54%;
  background-repeat: no-repeat;
  background-size: 80% auto;
  @include hide-text;
  transition: opacity .3s;

  .loading & {
    opacity: 0;
  }

  .logo-1 &.logo-english {
    background-image: url('images/logo-1-english.svg');
  }

  .logo-1 &.logo-arabic {
    background-image: url('images/logo-1-arabic.svg');
  }

  .logo-2 &.logo-english {
    background-image: url('images/logo-2-english.svg');
  }

  .logo-2 &.logo-arabic {
    background-image: url('images/logo-2-arabic.svg');
  }

  .logo-3 &.logo-english {
    background-image: url('images/logo-3-english.svg');
  }

  .logo-3 &.logo-arabic {
    background-image: url('images/logo-3-arabic.svg');
  }

  .logo-4 &.logo-english {
    background-image: url('images/logo-4-english.svg');
  }

  .logo-4 &.logo-arabic {
    background-image: url('images/logo-4-arabic.svg');
  }

  .logo-5 &.logo-english {
    background-image: url('images/logo-5-english.svg');
  }

  .logo-5 &.logo-arabic {
    background-image: url('images/logo-5-arabic.svg');
  }

  .logo-6 &.logo-english {
    background-image: url('images/logo-6-english.svg');
  }

  .logo-6 &.logo-arabic {
    background-image: url('images/logo-6-arabic.svg');
  }

  .logo-7 &.logo-english {
    background-image: url('images/logo-7-english.svg');
  }

  .logo-7 &.logo-arabic {
    background-image: url('images/logo-7-arabic.svg');
  }

  .logo-8 &.logo-english {
    background-image: url('images/logo-8-english.svg');
  }

  .logo-8 &.logo-arabic {
    background-image: url('images/logo-8-arabic.svg');
  }

  .logo-9 &.logo-english {
    background-image: url('images/logo-9-english.svg');
  }

  .logo-9 &.logo-arabic {
    background-image: url('images/logo-9-arabic.svg');
  }

  .logo-10 &.logo-english {
    background-image: url('images/logo-10-english.svg');
  }

  .logo-10 &.logo-arabic {
    background-image: url('images/logo-10-arabic.svg');
  }

  .logo-11 &.logo-english {
    background-image: url('images/logo-11-english.svg');
  }

  .logo-11 &.logo-arabic {
    background-image: url('images/logo-11-arabic.svg');
  }
}

.logo-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity .5s ease-in-out;

  .scrolled & {
    opacity: 0;
  }

  .home & {
    display: block;
  }
}

.main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12rem 1rem 12rem;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  transition: opacity .3s;
  -webkit-overflow-scrolling: touch;

  .loading & {
    opacity: 0;
  }

  @include breakpoint($m-up) {
    padding: 12rem 20% 12rem;
  }
}

.flipper-content {
  transform: rotateY(45deg);
}

.flipper-logo {
  transform: rotateY(135deg);
}

.main,
.logo-container {
  margin: 0 auto;
  perspective: 600px;

  .flipped & .flipper {
    transform: rotateY(180deg);
  }

  .front-content, .back-content {
    height: 100vh;
  }

  .flipper {
    transition: 0.1s;
    transform-style: preserve-3d;
    position: relative;
  }

  .front, .back, .front-content, .back-content {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .front, .front-content {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back, .back-content {
    transform: rotateY(180deg);
  }
}

.site-header {
  text-transform: uppercase;

  a {
    background: none;
    text-decoration: none;
    color: $accent;
  }

  h1, h2 {
    position: fixed;
    width: 50%;
    z-index: 9999;
  }

  .title-english {
    top: 4rem;
    left: 1rem;

    @include breakpoint($m-up) {
      top: 3.4rem;
    }
  }

  .title-arabic {
    text-align: right;
    top: 4rem;
    right: 1rem;

    @include breakpoint($m-up) {
      top: 3.4rem;
    }
  }

  .heading-bottom-left {
    bottom: 1rem;
    left: 1rem;
  }

  .heading-bottom-right {
    text-align: right;
    right: 1rem;
    bottom: 1rem;
  }
}

.site-nav {
  position: fixed;
  top: 8rem;
  right: 0;
  left: 0;
  z-index: 9999;
  text-transform: uppercase;
  text-align: center;

  @include breakpoint($m-up) {
    top: 7rem;
  }

  li {
    display: inline-block;
    margin: 0 .75em;
    white-space: nowrap;

    &.current-menu-item a {
      background: none;
      pointer-events: none;
      text-decoration: line-through;
    }
  }

  @include breakpoint($s) {
    display: none;
    top: 0;
    bottom: 0;
    background: $main-bg;
    padding-top: 11rem;
    overflow: auto;

    .site-nav-active & {
      display: block;
    }

    li,
    a {
      display: block;
    }

    a {
      padding: .5rem;
    }
  }
}

.site-nav-toggle {
  position: fixed;
  top: 7.5rem;
  left: 1rem;
  z-index: 10000;
  width: 3.5rem;
  height: 3.5rem;
  background: $accent url('images/menu.svg') center center no-repeat;
  background-size: 50% 50%;
  overflow: hidden;
  text-indent: -99999px;
  border-radius: 9999rem;

  .site-nav-active & {
    background-image: url('images/close.svg');
  }

  @include breakpoint($m-up) {
    display: none;
  }
}

.content {
  .arabic-text {
    text-align: right;
  }

  .image {
    padding: 0 span(1);
    margin-bottom: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  p, h3, h4, h5, h6, ul, ol, blockquote {
    margin-bottom: 1em;
  }

  h1 {
    margin: .667em 0 .333em;
    font-family: 'Friz Quadrata', sans-serif;
    font-size: 2.5rem;
    line-height: 1.05em;
    text-align: center;
    letter-spacing: -.04em;
    word-spacing: -.05em;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin: .667em 3em;
    font-family: 'Friz Quadrata', sans-serif;
    font-size: 1.25rem;
    line-height: 1.05em;
    text-align: center !important;
    letter-spacing: -.02em;
    word-spacing: -.025em;

    &:first-child {
      margin-top: 0;
    }
  }

  .page-title {
    font-size: 2.5rem;
    line-height: 1.05em;

    @include breakpoint($m-up) {
      font-size: 3.5rem;
      line-height: 1em;
    }
  }

  .program-title {
    margin-top: .2em;
    font-size: 2.5rem;
    line-height: 1.05em;
  }

  h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.5em;

    &:first-child {
      margin-top: 0;
    }
  }

  ul li {
    position: relative;

    &::before {
      content: '—';
      position: absolute;
      top: 0;
      right: 100%;
      margin-right: .5em;
    }
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    padding-left: 3em;
  }
}

.slider {
  position: fixed;
  top: 1rem;
  right: 0;
  left: 0;
  z-index: 9999;
  padding: .2rem 4rem .2rem 3.5rem;
  color: $main-bg;

  @include breakpoint($m-up) {
    padding: 0 4rem 0 3.5rem;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 3.25rem;
    z-index: -1;
    background: $main-color;

    @include breakpoint($m-up) {
      height: 2.5rem;
    }
  }

  .slider-label {
    position: absolute;
    top: 0;
    width: 3rem;
    pointer-events: none;
  }

  .slider-label-1 {
    left: 1rem;

    @include breakpoint($m-up) {
      top: -.5rem;
    }
  }

  .slider-label-2 {
    right: 1rem;
    text-align: right;

    @include breakpoint($m-up) {
      top: -.6rem;
    }
  }
}

.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 100em;
}

.rangeslider {
  background: $main-bg;
  position: relative;
}

.rangeslider--horizontal {
  margin-top: .3rem;
  height: .2rem;
  width: 100%;

  @include breakpoint($m-up) {
    margin-top: .1rem;
  }
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: $accent;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: $accent;
  cursor: grab;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
}

.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  cursor: grabbing;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -.4rem;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

.tickets-button {
  position: fixed;
  right: 1.5rem;
  bottom: 3rem;
  width: 7rem;
  height: 7rem;
  z-index: 900;
  background: url('images/tickets.svg') center center no-repeat;
  background-size: contain;
  @include hide-text;
  transition: transform .1s ease-in-out;

  &:hover {
    background: url('images/tickets.svg') center center no-repeat;
    background-size: contain;
    transform: scale(1.2);
  }
}

hr {
  margin: 1.5em 0;
  border: 0;
  background: none;
  border-top: .05em solid $main-color;
}

.credit {
  font-size: .667rem;
  line-height: 1.4em;
}

.schedule {
  margin: 1em 0;
  @include clearfix;

  a {
    clear: both;
    display: block;
    background: none;
    padding: 1em 0 1.2em;
    @include clearfix;

    .grid-view & {
      border-top: 0;
    }

    &:hover,
    &:hover div {
      color: $accent !important;
    }
  }

  .grid-view & .schedule-item {
    float: left;
    width: span(6);
  }

  .grid-view & .schedule-item:nth-child(odd) {
    clear: both;
    margin-right: gutter();
  }

  .schedule-item-meta,
  .schedule-item-main {
    float: left;
    margin-right: gutter();

    &:last-child {
      margin-right: 0;
    }
  }

  &.arabic-text {
    .schedule-item-meta,
    .schedule-item-main {
      float: right;
      margin-left: gutter();
      margin-right: 0;

      &:last-child {
        margin-left: 0;
      }
    }
  }

  .schedule-item-image {
    margin-right: 0 !important;
    display: none;

    .grid-view & {
      display: block;
    }
  }

  .schedule-item-meta {
    width: span(4);
  }

  .schedule-item-main {
    width: span(8);
  }

  .schedule-item-time,
  .schedule-item-people {
    color: $main-color;
  }

  .schedule-item-date {
    margin-top: 1rem;
    color: $accent;
    border-bottom: .05em solid $accent;
  }

  .schedule-item-type {
    color: #226C47;
  }

  .schedule-item-title {
    color: #0080FF;
  }
}

.schedule-item-type,
.schedule-item-people {
  clear: both;
}

.program-date,
.program-time,
.program-type,
.program-people {
  text-align: center;
}

.program-people {
  margin-top: -.5em;
}

.views {
  margin-top: 1.5em;
  text-align: center;
  text-transform: uppercase;

  .active {
    pointer-events: none;
    //background: none;
    text-decoration: line-through;
  }
}
