$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.4,
  'spread': 'narrow',
  'container-spread': 'narrow',
);

$s: max-width 767px;
$m-down: max-width 1023px;
$m: 768px 1023px;
$m-up: min-width 768px;
$l-down: max-width 1399px;
$l: 1024px 1399px;
$l-up: min-width 1024px;
$xl: min-width 1400px;

$main-color: #000;
$main-bg: #fff;
$accent: #ed1c24;

::selection {
  background: $accent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

html {
  font-size: 16px;

  @include breakpoint($m-up) {
    font-size: 2vw;
  }
}

body {
  background: $main-bg;
  color: $main-color;
  font-family: 'pica10_btroman', 'Courier New', monospace;
  font-size: 1rem;
  line-height: 1.25em;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;

  .arabic-text {
    font-size: 80%;
    font-family: 'Kawkab Mono', 'Courier New', monospace;
    direction: rtl;

    h1, h2, .page-title {
      font-family: 'ASV Codar', sans-serif !important;
    }
  }
}

strong, b {
  text-transform: uppercase;
}

em,
i {
  font-style: italic;
}

img,
audio,
video,
iframe {
  max-width: 100%;
  height: auto;
}

a {
  color: $main-color;
  background-image: linear-gradient(to bottom, $main-color 50%, $main-color 50%);
  background-repeat: repeat-x;
  background-size: .05em .05em;
  background-position: 0 1.05em;

  &:hover {
    color: $accent;
    background-image: linear-gradient(to bottom, $accent 50%, $accent 50%);
  }

  &.home-link {
    background: none;
  }
}

.flipper {
  .front-content,
  .back-content {
    width: 100%;
  }
}

.logo {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80% auto;
  @include hide-text;
  transition: opacity .3s;

  .loading & {
    opacity: 0;
  }

  .logo-1 &.logo-english {
    background-image: url('images/logo-1-english.svg');
  }

  .logo-1 &.logo-arabic {
    background-image: url('images/logo-1-arabic.svg');
  }

  .logo-2 &.logo-english {
    background-image: url('images/logo-2-english.svg');
  }

  .logo-2 &.logo-arabic {
    background-image: url('images/logo-2-arabic.svg');
  }

  .logo-3 &.logo-english {
    background-image: url('images/logo-3-english.svg');
  }

  .logo-3 &.logo-arabic {
    background-image: url('images/logo-3-arabic.svg');
  }

  .logo-4 &.logo-english {
    background-image: url('images/logo-4-english.svg');
  }

  .logo-4 &.logo-arabic {
    background-image: url('images/logo-4-arabic.svg');
  }

  .logo-5 &.logo-english {
    background-image: url('images/logo-5-english.svg');
  }

  .logo-5 &.logo-arabic {
    background-image: url('images/logo-5-arabic.svg');
  }

  .logo-6 &.logo-english {
    background-image: url('images/logo-6-english.svg');
  }

  .logo-6 &.logo-arabic {
    background-image: url('images/logo-6-arabic.svg');
  }

  .logo-7 &.logo-english {
    background-image: url('images/logo-7-english.svg');
  }

  .logo-7 &.logo-arabic {
    background-image: url('images/logo-7-arabic.svg');
  }

  .logo-8 &.logo-english {
    background-image: url('images/logo-8-english.svg');
  }

  .logo-8 &.logo-arabic {
    background-image: url('images/logo-8-arabic.svg');
  }

  .logo-9 &.logo-english {
    background-image: url('images/logo-9-english.svg');
  }

  .logo-9 &.logo-arabic {
    background-image: url('images/logo-9-arabic.svg');
  }

  .logo-10 &.logo-english {
    background-image: url('images/logo-10-english.svg');
  }

  .logo-10 &.logo-arabic {
    background-image: url('images/logo-10-arabic.svg');
  }

  .logo-11 &.logo-english {
    background-image: url('images/logo-11-english.svg');
  }

  .logo-11 &.logo-arabic {
    background-image: url('images/logo-11-arabic.svg');
  }
}

.logo-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity .5s ease-in-out;

  .scrolled & {
    opacity: 0;
  }
}

.main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12rem 5% 12rem;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  transition: opacity .3s;
  -webkit-overflow-scrolling: touch;

  .loading & {
    opacity: 0;
  }

  @include breakpoint($m-up) {
    padding: 12rem 20% 12rem;
  }
}

.flipper-content {
  transform: rotateY(45deg);
}

.flipper-logo {
  transform: rotateY(135deg);
}

.main,
.logo-container {
  margin: 0 auto;
  perspective: 600px;

  .flipped & .flipper {
    transform: rotateY(180deg);
  }

  .front-content, .back-content {
    height: 100vh;
  }

  .flipper {
    transition: 0.1s;
    transform-style: preserve-3d;
    position: relative;
  }

  .front, .back, .front-content, .back-content {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .front, .front-content {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back, .back-content {
    transform: rotateY(180deg);
  }
}

.site-header {
  text-transform: uppercase;

  a {
    background: none;
    color: $accent;
  }

  h1, h2 {
    position: fixed;
    width: 50%;
    z-index: 9999;
  }

  .title-english {
    top: 4rem;
    left: 1rem;
  }

  .title-arabic {
    text-align: right;
    top: 4rem;
    right: 1rem;
  }

  .heading-bottom-left {
    bottom: 1rem;
    left: 1rem;
  }

  .heading-bottom-right {
    text-align: right;
    right: 1rem;
    bottom: 1rem;
  }
}

.site-nav {
  position: fixed;
  top: 8rem;
  right: 0;
  left: 0;
  z-index: 9999;
  text-transform: uppercase;
  text-align: center;

  @include breakpoint($m-up) {
    top: 7rem;
  }

  li {
    display: inline-block;
    margin: 0 .5em;

    &.current-menu-item a {
      background: none;
      pointer-events: none;
      text-decoration: line-through;
    }
  }
}

.content {
  .arabic-text {
    text-align: right;
  }

  .image {
    padding: 0 span(1);
    margin-bottom: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  p, h3, h4, h5, h6, ul, ol, blockquote {
    margin-bottom: 1em;
  }

  h1 {
    margin: .667em 0 .333em;
    font-family: 'Friz Quadrata', sans-serif;
    font-size: 2.5rem;
    line-height: 1.05em;
    text-align: center;
    letter-spacing: -.04em;
    word-spacing: -.05em;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin: .667em 3em;
    font-family: 'Friz Quadrata', sans-serif;
    font-size: 1.25rem;
    line-height: 1.05em;
    text-align: center;
    letter-spacing: -.02em;
    word-spacing: -.025em;

    &:first-child {
      margin-top: 0;
    }
  }

  .page-title {
    font-size: 2.5rem;
    line-height: 1.05em;

    @include breakpoint($m-up) {
      font-size: 3.5rem;
      line-height: 1em;
    }
  }

  .program-title {
    margin-top: .2em;
    font-size: 2.5rem;
    line-height: 1.05em;
  }

  h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.5em;

    &:first-child {
      margin-top: 0;
    }
  }

  ul li {
    position: relative;

    &::before {
      content: '—';
      position: absolute;
      top: 0;
      right: 100%;
      margin-right: .5em;
    }
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    padding-left: 3em;
  }
}

.slider {
  position: fixed;
  top: 1rem;
  right: 0;
  left: 0;
  z-index: 9999;
  padding: .2rem 4rem .2rem 3.5rem;

  .page-id-14 & {
    color: $main-bg;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 3.25rem;
    z-index: -1;
    background: #d8d8d8;

    .page-id-14 & {
      background: $main-color;
    }
  }

  .slider-label {
    position: absolute;
    top: 0;
    width: 3rem;
    pointer-events: none;
  }

  .slider-label-1 {
    left: 1rem;
  }

  .slider-label-2 {
    right: 1rem;
    text-align: right;
  }
}

.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 100em;
}

.rangeslider {
  background: $main-color;
  position: relative;

  .page-id-14 & {
    background: $main-bg;
  }
}

.rangeslider--horizontal {
  margin-top: .3rem;
  height: .2rem;
  width: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: $accent;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: $accent;
  cursor: grab;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
}

.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  cursor: grabbing;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -.4rem;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

.tickets-button {
  position: fixed;
  right: 1.5rem;
  bottom: 3rem;
  width: 5.6rem;
  height: 5.6rem;
  z-index: 900;
  background: url('images/tickets.svg') center center no-repeat;
  background-size: contain;
  @include hide-text;
  transition: transform .1s ease-in-out;

  &:hover {
    background: url('images/tickets.svg') center center no-repeat;
    background-size: contain;
    transform: scale(1.2);
  }
}

hr {
  margin: 1.5em 0;
  border: 0;
  background: none;
  border-top: .05em solid $main-color;
}

.schedule {
  margin: 1em 0;
  @include clearfix;

  a {
    clear: both;
    display: block;
    border-top: .05em solid $main-color;
    background: none;
    padding-bottom: 1em;
    @include clearfix;

    .grid-view & {
      border-top: 0;
    }
  }

  .grid-view & .schedule-item {
    float: left;
    width: span(6);
  }

  .grid-view & .schedule-item:nth-child(odd) {
    clear: both;
    margin-right: gutter();
  }

  div {
    float: left;
    margin-right: gutter();

    .grid-view & {
      margin-right: gutter(3 of 6);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .schedule-item-image {
    margin-right: 0 !important;
    display: none;

    .grid-view & {
      display: block;
    }
  }

  .schedule-item-date,
  .schedule-item-time {
    width: span(6);

    @include breakpoint($m-up) {
      width: span(3);

      .grid-view & {
        width: span(3 of 6);
      }
    }
  }

  .schedule-item-time {
    @include breakpoint($s) {
      margin-right: 0;
    }

    .grid-view & {
      margin-right: 0;
    }
  }

  .schedule-item-title {
    clear: both;
  }
}

.program-date,
.program-time {
  text-align: center;
}

.views {
  margin-top: 1.5em;
  text-align: center;
  text-transform: uppercase;

  .active {
    pointer-events: none;
    background: none;
  }
}
